<div class="top-container">
  <div class="main">
    <h3> Site Settings </h3>
    <div class="password-container">
      <h4> Reset Password </h4>
      <form (ngSubmit)="onSetPassword()" [formGroup]="passwordForm">
        <!-- Old Password -->
        <label for="oldPassword">Old Password</label>
        <input type="text" formControlName="oldPassword" class="form-control"><br>

        <!-- New Password -->
        <label for="newPassword">New Password</label>
        <input type="text" formControlName="newPassword" class="form-control"><br>

        <!-- Confirm Password -->
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" formControlName="confirmPassword" class="form-control"><br>

        <!-- Submit Button -->
        <button type="submit" [disabled]="!passwordForm.valid">Submit</button>
      </form>
    </div>

    <br>

    <div class="other-setting-container">
      <h4> Other Settings </h4><br><br>

      <input type="checkbox" id="notification" (change)="toggleNotifi()">
      <label for="notification">Enable Notification</label><br><br>

      <input type="checkbox" id="ExploitContent" (change)="toggleExpContent()">
      <label for="ExploitContent">Allow Exploit Content</label><br><br>

      <input type="checkbox" id="ContrastMode" (change)="toggleContraMode()">
      <label for="ContrastMode">High Contrast Mode</label><br><br>
    </div>
  </div>
</div>
