<div class="top-container">
    <div class="main">
        <h3> Site Settings </h3> <br>
        <div class="password-container">
            <h4> Reset Password </h4>
            <form (ngSubmit)="onSetPassword()" [formGroup]="passwordForm">
                <!-- old password -->
                <div class='form-group'>
                    <label for="oldPassword">Old Password</label>
                    <input type="text" name="txt"> <br>
                </div>
                <!-- new password -->
                <div class='form-group'>
                    <label for="newPassword">New Password</label>
                    <input type="text" name="txt"> <br>
                </div>
                <!-- confirm password -->
                <div class='form-group'>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="text" name="txt"> <br>
                </div> <br>
                <!-- submit button -->
                <input type="submit" value="submit" [disabled]="passwordForm.invalid">
            </form>
        </div>
        <br>
        <div class="other-setting-container">
            <h4> Other Settings </h4> <br> <br>
            <input type="checkbox" id="notification" onChange="toggleNotifi()">
            <label for="setNotification">Enable Notification</label> <br> <br>
            <input type="checkbox" id="ExploitContent" onChange="toggleExpContent()">
            <label for="setExploitContent">Allow Exploit Content</label> <br> <br>
            <input type="checkbox" id="ContrastMode" onChange="toggleContraMode()">
            <label for="setConstrastMode">High Contrast Mode</label> <br> <br>
        </div>
    </div>
</div>