<div class="header-bar">
    <div class="header-icons-left">
        <a routerLink="/home"><mat-icon class="header-icon">home</mat-icon></a>
        <a routerLink="/help"><mat-icon class="header-icon">help</mat-icon></a>
    </div>

    <div class="search-bar">
        <input [(ngModel)]="query" (keypress)="onKeyPress($event)" type="text" placeholder="Search for a game..." class="search-input" />
    </div>

    <div class="header-icons-right">
        <a routerLink="/settings"><mat-icon class="header-icon">settings</mat-icon></a>
        <a routerLink="/profile"><mat-icon class="header-icon">account_circle</mat-icon></a>
    </div>
</div>
  