<div class="top-container">
    <div class="left-right">
        <div class="image-container">
            @if (gameData.image) {
                <img [src]="gameData.image">
            }
            @else {
                <div class="image-placeholder"></div>
            }
        </div>
        <div class="right-container">
            <div class="upper-container row">
                <div class="game-info-container col-7">
                    <div class="title-container">
                        <h1 class="italics">{{gameData.title}}</h1>
                    </div>
                    <div class="rest-of-game-info-container">
                        <div class="company-date-conatiner">
                            <p class="italics">{{gameData.company}}</p>
                            <p>
                                {{
                                    gameData.releaseDate.toLocaleDateString('en-US', {
                                        year: 'numeric',
                                        month: 'short',
                                        day: 'numeric'
                                    }).replace(',', '')
                                }}
                            </p>
                        </div>
                        <div class="game-description-container">
                            <p>{{gameData.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="game-tags-section-container col-3">
                    <p>Game Tags</p>
                    <div class="game-tags-container">
                        @for (tag of gameData.gameTags; track tag) {
                            <app-game-tag [text]="tag"></app-game-tag>
                        }
                    </div>
                </div>
                <div class="rating-container col-2">
                    <p>Rated</p>
                    <p>{{gameData.rating.toFixed(1)}} / 5</p>
                    <igc-rating readOnly [value]="gameData.rating" min="1" max="5"></igc-rating>
                </div>
            </div>
            <div class="user-tags-section-container">
                <p>Users say...</p>
                <div class="user-tags-container">
                    @for (tag of gameData.userTags; track tag) {
                        <app-user-tag [text]="tag"></app-user-tag>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="reviews">
    @for (review of reviews; track review; let index = $index) {
        <app-review [reviewData]="review"></app-review>
    }
</div>
