/* Base container */
.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  text-align: center;
  max-width: 500px;
  margin: auto
}

.main {
  background-color: #737171;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.main h3 {
  margin: 8px 0;
  color: black; 
  line-height: 1.5; 
}

/* Left section: Terms of Service */
.help-left {
  display: flex;
}


.term-container {
  background-color: #5e5d5d; /* Light gray background */
  line-height: 1.5; /* Set line-height for better readability */
  border: 1px solid #353434;

}

.help-left h3 {
  margin-right: 50px; 
  color: #000;
  text-indent: 10px;

}

.help-left h4 {
  margin-right: 50px; 
  color: #000;
  text-indent: 20px;
}

.help-left h5 {
  margin-right: 50px; 
  color: black; 
  text-indent: 20px;
}

.help-left h6 {
  margin-right: 50px; 
  color: black; 
  text-indent: 20px; 
}

.help-right strong {
  margin: 8px 0;
  color:#000;
  line-height: 1.5;
}

/* Right section: Feedback form */
.help-right {
  display: flex;
}

.feedback-container {
  flex: 1;
  min-width: 300px;
  background-color: #5e5d5d;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #353434;
}

/* Input and select styling */
/* .help-right input[type="text"],
.help-right select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
} */

/* Submit button */
.help-right input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.help-right input[type="submit"]:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

/* Success message */
.success-message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}