<div class="top-container">
    <div class="main">
        <div class="help-left">
            <h2> Terms of Services </h2> <br>
            <h3> 1. Don't bully other users, because that's not right </h3>
            <h3> 2. Keep reviews & discussion focused on games themselves, whenever possible </h3>
            <h3> 3. Have fun, and happy rating... </h3> <br>
        </div>
        
          <div class="help-right">
            <form (ngSubmit)="onSubmit()" [formGroup]="feedbackForm">
              <p><strong>Feedback? Concerns? Connect Us</strong></p>
              <!-- Email input-->
              <input type="text" id="frame" formControlName="email" placeholder="Enter email" class="form-control" [(ngModel)]="feedbackObj.email">
              <!-- Corresponse Selection-->
              <select formControlName="corresponse" id="corTypes" required  class="form-control" [(ngModel)]="feedbackObj.type">
                <option value="" disabled selected>Type of Correspondence</option>
                <option value="technical">Technical Issue</option>
                <option value="feedback">Feedback</option>
                <option value="concern">Concern</option>
              </select>
              <br><br>
              <!-- Description input-->
              <input type="textarea" id="description" formControlName="description" placeholder="What's going on?"  class="form-control" [(ngModel)]="feedbackObj.description"> <br> <br>
              <!-- Submit Button-->
              <input type="submit" value="Submit" [disabled]="feedbackForm.invalid">
            </form>
        
            <!-- Success Message -->
            <div *ngIf="formSubmitted" class="success-message">
              Form submitted successfully!
            </div>
          </div>
    </div>
  </div>
  