.genre-title-container {
    display:flex;
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.genre-subtitle-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.genre-bar-covers-display-container {
    margin-top: 5px;
    margin-bottom: 3rem;
}

.genre-bar-covers-display { 
    display: table-row;
}

.image-placeholder {
    width: 133px;
    height: 200px;
    max-height: 200px;
    background-color: gray;
    margin-right: 1rem;
    margin-top: 1rem;
    float: left;
}

.p {
    display:flex;
}