<div class="top-container">
    <div class="main"> 
        <div class="login" *ngIf="!showSignUp">
            <form>
                <label for="chk" aria-hidden="true">WELCOME!</label>
                <input type="text" name="txt" placeholder="enter username" class="form-control" [(ngModel)]="loginObj.username">
                <input type="text" name="txt" placeholder="enter password" class="form-control"[(ngModel)]="loginObj.password">
                <button (click)="onLogIn()"> Log In</button>
            </form>
            <button (click)="toggleSignUp()">Sign Up</button>
        </div>
        <div class="signup" *ngIf="showSignUp">
            <form>
                <label for="chk" aria-hidden="true">Signup</label>
                <input type="text" name="txt" placeholder="enter username" class="form-control" [(ngModel)]="signupObj.username">
                <input type="text" name="txt" placeholder="enter password" class="form-control"[(ngModel)]="signupObj.password">
                <input type="text" name="txt" placeholder="enter password again" class="form-control"[(ngModel)]="signupObj.passwordCheck">
                <button (click)="onSignUp()"> Create Account </button>
            </form>
        </div>
    </div>
</div>
